/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/js/*
/public/css/*
/public/fonts/*
/public/img/decks/*
/.vs
/.vscode
package-lock.json
/node_server/node_modules/