
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Bootstrap
@import "~bootstrap/scss/bootstrap";

$fa-font-path: "../../../node_modules/font-awesome/fonts" !default;

@import 'node_modules/font-awesome/scss/font-awesome.scss';

@import "default.css";


nav.side-navbar.shrinked ul li a i {
  display: none !important;
}

.nav-link {
  cursor: pointer;
}

.side-navbar {
  height: 100vh;
}

.admin-footer {
  width: 100%;
  background: #2f333e;
  color: #fff;
  padding: 20px 10px;
}

.collapse-row.collapsed + tr {
  display: none;
}

